header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 70px;
    line-height: 75px;
    text-align: center;
    font-size: 1.5rem;
}

header:before {
    content: "";
    position: absolute;
    background-color: cornflowerblue;
    width: 230%;
    height: 200px;
    border-radius: 50%;
    top: -110px;
    left: -100%;
    z-index: -1;
}

nav {
    padding: 0 20px;
}

span {
    display: flex;
    align-items: center;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay.show {
    width: 100%;
}

.overlay-content {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
}