header {
    height: 8vh;
    width: 100%;
    background-color: cornflowerblue;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: larger;
}

.wrapper {
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: space-evenly;
    margin: 2vh 0;
}

.auth {
    display: flex;
    width: 100%;
    justify-content: end;
}

.button {
    margin: 0 10px;
}

.item {
    justify-content: center;
    padding: 2px 4px;
    background-color: #7cadf8;
    border-radius: 10px;
    text-align: center;
    height: 30px;
}

.item:hover {
    background-color: #6ba2e4;
    cursor: pointer;
}