h2 {
    text-align: center;
}

.row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 20px;
}

.sortInput {
    display: flex;
    justify-content: end;
    width: 10%;
    margin-left: 20px;
}

.sortInput > * {
    font-size: larger;
}

@media screen and (max-width:768px) {
    .sortInput {
        width: 30%;
    }
    
    h2 {
        padding: 0 10px;
    }
}